/************ Root ************/
:root {
    --primary: #755bb4;
}

/************ Font ************/
@font-face {
    font-family: 'Cairo';
    src: url('../../assets/fonts/Cairo-Bold.ttf');
}

/************ Global ************/
* {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    direction: rtl;
    font-family: 'Cairo';
}

button {
    padding: 0;
    background: none;
    border: none;
}

ul {
    list-style: none;
}

ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/************ Bootstrap ************/
.alert {
    display: block;
    padding: 5px;
    margin-top: 5px;
}

/************ Auth ************/
.login {
    margin: 50px auto;
    max-width: 400px;
}

.login img {
    width: 50%;
    display: block;
    margin: auto;
}

.login h2 {
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    position: relative;
    border-bottom: 3px solid var(--primary);
    padding-bottom: 30px;
    margin: 20px 0 30px;
}

.login h2::after {
    content: '';
    background-color: var(--primary);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}

.login i {
    position: absolute;
    top: 49px;
    color: var(--primary);
    font-size: 20px;
}

.login i:not(#show-password) {
    right: 10px;
}

.login i#show-password {
    left: 10px;
    cursor: pointer;
}

.login .form-control {
    padding-right: 40px;
    padding-left: 40px;
}

/************ Form ************/
form {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

form .form-group {
    margin-bottom: 15px;
    position: relative;
}

form label {
    color: var(--primary);
    font-size: 17px;
    margin-bottom: 10px;
}

form textarea {
    resize: none;
    height: 150px;
}

form .form-control {
    color: var(--primary) !important;
    font-size: 17px;
    padding: 10px;
}

form button {
    width: 100%;
    font-size: 17px;
}

/************ Warpper ************/
.warpper {
    display: flex;
    min-height: 100vh;
}

/************ Side Bar ************/
.sidebar {
    width: 200px;
    min-height: 100vh;
    background-color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 991px) {
    .sidebar {
        padding: 20px 5px;
        width: 50px;
    }
}

.sidebar img {
    width: 90%;
}

@media (max-width: 991px) {
    .sidebar img {
        display: none;
    }
}

.sidebar ul {
    text-align: start;
    margin: 30px 0;
}

.sidebar ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    color: var(--primary);
    font-size: 17px;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 991px) {
    .sidebar ul li a span {
        display: none;
    }
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--primary);
    color: #fff;
}

/************ Main Content ************/
.main-content {
    flex: 1;
}

.main-content .content {
    padding: 15px;
}

/************ Top Bar ************/
.topbar {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.topbar-title img {
    height: 30px;
}

.topbar-actions i {
    font-size: 20px;
    color: var(--primary);
}

.topbar-actions .dropdown .dropdown-menu {
    width: 300px;
    overflow: hidden;
    padding: 5px;
    text-align: center;
}

.topbar-actions .dropdown .dropdown-menu p {
    font-size: 17px;
    color: var(--primary);
}

.topbar-actions .dropdown .dropdown-menu img {
    width: 80%;
    margin: 10px 0;
}

.topbar-actions .dropdown .dropdown-menu div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.topbar-actions .dropdown .dropdown-menu div a {
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    width: 49%;
    margin-top: 5px;
}

/************ Nav Bar ************/
.navbar {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.navbar .navbar-brand {
    font-size: 20px;
    margin: 0;
    pointer-events: none;
    color: var(--primary);
}

.navbar .navbar-toggler {
    border: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler i {
    color: var(--primary);
    font-size: 20px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    padding: 5px;
    text-align: start;
}

/************ Card ************/
.card {
    border: none;
    background-color: #fff;
    margin-bottom: 25px;
}

.card .card-head {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.card .card-head a {
    color: grey;
    font-size: 17px;
}

.card .card-body {
    padding: 5px;
    text-align: center;
}

.card .card-body i,
.card .card-body span {
    color: gray;
    font-size: 50px;
}

.card .card-body span {
    color: #fff;
    font-size: 20px;
}

.card .card-body img {
    width: 100%;
}

.card .card-body .card-title {
    color: var(--primary);
    font-size: 20px;
    margin: 10px 0 0;
}

.card .card-body .card-text {
    color: grey;
    font-size: 17px;
    margin-top: 5px;
}

.card .card-foot {
    border-top: 1px solid #ccc;
    padding: 5px;
}

.card .card-foot .card-foot-created-at {
    display: block;
    font-size: 17px;
    text-align: center;
    color: grey;
}

/************ Profile ************/
.profile-course .pro {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.profile-course .info h3 {
    font-size: 25px;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 0 0 15px;
}

.profile-course .info p {
    font-size: 15px;
    line-height: 2;
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 0 0 15px;
    color: #888;
}

.profile-course .info h5 {
    border-bottom: 1px solid #ccc;
    margin: 0 0 15px;
    padding: 0 0 15px;
    text-align: center;
}

.profile-course .info div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 20px;
    color: #888;
}

@media (max-width: 767px) {
    .profile-course .info div {
        flex-direction: column;
        gap: 20px;
    }
}

.profile-course .info div i {
    display: block;
    margin: 0 auto 10px;
}

.pro.lessons {
    display: flex;
}

@media (max-width: 991px) {
    .pro.lessons {
        flex-direction: column-reverse;
    }
}

.pro.lessons .all-lessons {
    padding: 0 20px;
    width: 300px;
}

@media (max-width: 991px) {
    .pro.lessons .all-lessons {
        width: 100%;
    }
}

.pro.lessons .all-lessons .lessons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.pro.lessons .all-lessons .lessons:not(:last-of-type) {
    margin-bottom: 10px;
}

.pro.lessons .all-lessons .lessons p {
    margin: 0;
    color: #333;
    margin-bottom: 10px;
}

.pro.lessons .all-lessons .lessons span {
    color: #888;
}

.pro.lessons .all-lessons .lessons i {
    color: #888;
    cursor: pointer;
}

.pro.lessons .all-lessons .lessons .fa-play:hover {
    color: blue;
}

.pro.lessons .all-lessons .lessons .actions {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.pro.lessons .all-lessons .lessons .actions a:hover .fa-edit {
    color: green;
}

.pro.lessons .all-lessons .lessons .actions a:hover .fa-trash {
    color: red;
}

.pro.lessons .lesson {
    display: flex;
    flex-direction: column;
}

.pro.lessons .lesson video {
    border-radius: 5px;
    width: 100%;
}

.pro.lessons .lesson p {
    background-color: #888;
    margin: 0;
    padding: 20px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .pro.lessons .lesson p {
        position: static;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 17px;
    }
}

/************ Users ************/
.users .user {
    background-color: white;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

.users .user .top {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.users .user .top a {
    color: #888;
}

.users .user .top a:hover i.fa-edit {
    color: green;
}

.users .user .top a:hover i.fa-trash {
    color: red;
}

.users .user .header {
    text-align: center;
}

.users .user .header img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
}

.users .user .header p {
    margin: 20px 0 5px;
    color: #333;
}

.users .user .header span {
    color: #888;
    font-size: 14px;
}

.users .user .body {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.users .user .body span {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

.users .user .body span i {
    margin-left: 10px;
}

.users .user .footer {
    padding: 10px 10px 0;
    text-align: center;
}

.users .user .footer a {
    padding: 5px 10px;
}

/************ Boards ************/
.board {
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 25px;
}

.board i {
    font-size: 50px;
}

.board div p {
    margin: 0 0 10px;
    font-size: 17px;
}

.board div span {
    font-size: 20px;
}

/************ Panel ************/
.panel {
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    margin-bottom: 25px;
}

.panel .panel-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 17px;
    background-color: var(--primary);
    color: #fff;
}

.panel .panel-head i {
    cursor: pointer;
}

.panel .panel-body {
    padding: 10px;
    display: none;
}

.panel .panel-body li {
    padding: 10px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.panel .panel-body li:nth-child(odd) {
    background-color: #ccc;
}

.panel .panel-body li span,
.panel .panel-body li a {
    color: #000;
}